* { margin:0; padding:0; outline:0; }

html, body {
    height: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: $background-grey;

    &.theme-dark {
        background-color: $dark-background-grey;
    }
}

*:not(.ng-animate) {
    transition: width 0.5s, height 0.5s;
    animation: none 0s;
}

/* CLEAR FIX*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.clickable {
    cursor: pointer;
}

body {
    font-family: $roboto;
    line-height: normal;
    color: $near-black;

    &.theme-dark {
        color: #BBB;
    }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
    padding: 0;
}

.btn {
    border: 0;

    &:focus {
        outline: none !important;
    }
}

.click-drop:active {
    transform:translateY(1px);
}

a, a:hover, a:active, a:focus {
  outline: 0;
}

a:hover, a:focus {
    text-decoration: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.visible-xxs {
  display: none !important;
}
@media (max-width: 500px) {
    .visible-xxs {
    display: block !important;
    }
    table.visible-xxs {
        display: table;
    }
    tr.visible-xxs {
        display: table-row !important;
    }
    th.visible-xxs,
    td.visible-xxs {
        display: table-cell !important;
    }
}
@media (max-width: 500px) {
    .hidden-xxs {
        display: none !important;
    }
}

.height100 {
    height: 100%;
}

.main-view {
    overflow-y: scroll;
}

.page {
    background-color: #fff;
    padding: 30px 25px;
    border-radius: 1px;
    margin-bottom: 30px;

    .theme-dark & {
        background-color: $dark-white;
    }
}

@keyframes pagein {
    from { opacity: 0; transform: translateY(25px);}
    to   { opacity: 1;  transform: translateY(0);}
}

.page-in {
    animation: pagein 0.5s;
}

.card-shadow {
    box-shadow: $card-shadow;
}

h1 {
    font-size: 60px;
    font-style: italic;
    font-weight: 700;
    color: $near-black;
    padding: 0px 0 10px 0;
}

@media (max-width: 415px) {
    h1 {
        font-size: 50px;
    }
}

h2 {
    font-size: 48px;
    line-height: 120%;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 300;
    color: $near-black;
    padding: 0px 0 20px 0;
}

h3 {
    font-size: 36px;
    line-height: 120%;
    font-weight: 300;
    color: $near-black;
    padding: 20px 0 10px 0;
}

h4 {
    font-size: 24px;
    line-height: 140%;
    font-weight: 300;
    color: $near-black;
    padding: 20px 0 5px 0;
}

@media (max-width: 767px) {
    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 16px;
    }
}

.main-content {

}
