$roboto: 'Roboto', Helvetica, Ariel, sans-serif;

$primary-color: #CC78C4;

$background-grey: #F6F6F6;
$card-shadow: 0px 1px 3px 0px #A0A0A0;

$dark-background-grey: #353535;
$dark-white: #4A4A4A;

$very-light-grey: #d2d2d2;
$light-grey: #9E9E9E;
$dark-grey: #888888;
$very-dark-grey: #4F4F51;

$near-white: #FAFAFA;
$near-black: #333333;
